<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://upload.wikimedia.org/wikipedia/commons/6/6a/Dolby_Cinema_in_Hilversum.jpg);">
  <div class="container">
    <h1>Watch List</h1>
    <p>Change your life and come watch your favorites films</p>
    <%= link_to 'Voir mes listes', lists_path %>
  </div>
</div>
